body {
    text-align: center;
    margin-top: 80px;
    background-color:bisque;
}

.button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.button {
    padding: 10px 20px;
    font-family: 'Times New Roman', Times, serif;
    color:beige;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    text-align: center;
    opacity: 0.8;
    transition: 0.3;
}

.button:hover {
    opacity: 1;
}

.emoji {
    font-size: 70px;
}