body {
    text-align: center;
    margin-top: 80px;
    background-color:darkolivegreen
}

.button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.button {
    padding: 10px 20px;
}

